* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* HEADER */

.header{
	width: 72em;
	height: 11em;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
}

/* HEADER-INFO */

.header-info{
	width: 62.5em;
	height: 2em;
	margin: 0.4em auto;
	display: flex;
	flex-direction: row;
}

.h-info{
	display: flex;
	flex-direction: row;
	font-size: 0.82em;
	line-height: 1.7em;
	height: 1.7em;
	margin: auto 0 auto 1em;
}

.h-info>i{
	margin-right: 0.4em;
	line-height: 1.7em;
}
/* HEADER-INFO */

/* HEADER-NAVBAR */


.header-navbar{
	width: 100%;
	height: 4em;
	margin: 0.1em auto;
	background-color: rgb(250, 246, 246);
	border-top: 0.1em solid rgb(203, 202, 202);
	border-bottom: 0.1em solid rgb(203, 202, 202);
}
.header-wrapper{
	width: 62.5em;
	height: 100%;
	margin: 0.1em auto;
	display: flex;
	flex-direction: row;
}

.h-navbar{
	display: flex;
	flex-direction: row;
	margin: 0.6em 0.9em 0.6em 0;
}

.h-navbar>button{
	border-radius: 2.5em;
	width: 2.5em;
	height: 2.5em;
	line-height: 1.5em;
	margin: 0 0.2em 0 0;
	background-color: #00a6ff;
	color: #fff;
}
.h-navbar>button:hover{
	background-color: #2B6BFF;
	color: #fff;
}

.h-navbar>p{
	line-height: 2.5em;
	margin-left: 0.05em;
	width: auto;
}

.nav-info>h3{
	font-family:'Lobster' ;
	font-style: italic;
	font-size: 1.44em;
	line-height: 1.8em;
	color: #2B6BFF;
	font-weight: bold;
}
.img-nav-info{
	width: 2.2em;
	height: 2.2em;
	margin: 0.2em 0.5em 0 0.5em;
}
.img-nav-info>img{
	width: 100%;
	height: 100%;
}

.nav-search{
	align-items: center;
}

.nav-search>input{
	width: 20.5em;
	height: 1.9em;
	border-radius: 1em;
	padding: 0 0 0 0.7em;
}

.nav-search>i{
	position: absolute;
	margin-left: 18.3em;
	padding-left: 0.4em;
	border-left: 0.05em solid gray;

}

.nav-phone>.phone{
	font-weight: bold;
}

/* HEADER-NAVBAR */

/* HEADER MENU */

.header-menu{
	width: 62.5em;
	height: 3em;
	margin: 0.5em auto 0 auto;
	display: flex;
	flex-direction: row;
}

.menu{
	width: 57em;
	height: 100%;
	display: flex;
	flex-direction: row;
	padding: 0;
}

.btn-sdl-exam{
	width: 7em;
	height: 2.9em;
	color: white;
	text-decoration: none;
	color: white;
	background-color: #DA2032;
}

.link-sdl{
	text-decoration: none;
	color: white;
}



.nav-item{
	list-style: none;
	width: 7.5em;
	height: 2em;
	text-align: center;
	line-height: 2em;
	margin: auto 0;
}

.sign-h-menu{
	list-style: none;
	width: 14em;
	height: 2em;
	text-align: center;
	display: flex;
	flex-direction: row;
	line-height: 2em;
	margin: auto 0;
	padding: 0;
}
.sign-link>a{
	text-decoration: none;
	color: black;
}
.nav-item:focus-within{
	background-color: orange;
}
.sign-link{
	width: 7.5em;
}
.sign-link:focus-within{
	background-color: greenyellow;
}

.menu-h-link{
	text-decoration: none;
	color: black;
}

/* HEADER MENU */


.thumbnails{
	text-align: center;
	width: 72em;
	height: 24em;
	margin: 0 auto 1em auto;
}

#slideImg{
	width: 100%;
	height: 100%;
}

/* HEADER-THUMBNAILS */

/* HEADER */



/* CONTAINER */


.container-wrapper{
	width: 72em;
	height: 125em;
	margin: 0 auto 1em auto;
	display: flex;
	flex-direction: column;
	background-image: url('/public/img/logo/av05y8by6-Photoroom.jpg');
	background-repeat: no-repeat;
	background-size: 31.3em 26em;
	background-position-y: 1em;
}

/* HOME */


/* INFO-UTILITIES */

.info-utilities{
	width: 62.5em;
	height: 33em;
	margin: auto;
}


.position-info{
	width: 100%;
	height: 100%;
	margin: 0.5em auto;
}

.p-left{
	width: 26.9em;
	height: 100%;
	float: left;
	margin: 0 1em 0 0;
}
.p-left>h2{
	margin: 0 0 1.4em 0;
}


.p-l{
	width: 26em;
	height: 13.3em;
	display: flex;
	flex-direction: row;

}

.p-top{
	margin: 0 0 0.5em 0;
}

.ult-left{
	width: 20em;
	height: 13em;
	background-color: white;
	padding: 0.5em 0 0.5em 0.5em;
	margin: auto;
	border-radius: 0.5em;
	box-shadow: 0 0 0.1em 0.1em rgb(191, 191, 191);
}


.ultFocus{
	background-color: #2563EB;
	color: white;
}


.icon-ult-left{
	font-size: 1.25em;
	margin: 0.1em 0 0.1em 0.1em;
}

.img-ult-left{
	display: none;
}
.img-ult-right{
	width: 34.3em;
	height: 25.06em;
}

.u-r{
	margin-right: 1.5em;
}

.intro-ult-left,.H5-ult-left{
	width: 11.62rem;
}
.intro-ult-left{
	font-size: 0.6em;
	margin: 0.5em 0 0 0;
	width: 20em;
	height: 4.7em;
}

.H5-ult-left{
	width: 8em;
	height: 3em;
	line-height: 1.2em;
}


.ult-btn{
	font-size: 0.7em;
	margin-top: 2em;
	border-radius: 1.5em;
	width: 5em;
	height: 2.7em;
	line-height: 2.7em;
	align-items: center;
	float: right;
	margin-right: 1em;
}

.p-right{
	width: 55%;
	height: 80%;
	float: right;
	margin: 4.8em 0 0 0;
}

/* INFO-UTILITIES */


/* DOCTOR-INFO */

.info-doctors{
	width: 62.5em;
	height: 22em;
	margin: 0 auto 4em auto;
	display: flex;
	flex-direction: column;
	padding-bottom: 3.8em;
}

.non-details-info{
	width: 100%;
	height: 22.9em;
	display: flex;
	flex-direction: row;
}

.box-info{
	width: 17%;
	height: 18em;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin: 0 auto;
}

.show-info{
	width: 100%;
	height: 22.4em;
	text-align: center;
	padding-top: 0.1em;
}

.info-img{
	width: 8em;
	height: 8em;
	margin: 0 auto;
	margin-bottom: 1em;
	box-shadow: 0 0 0.06em gray;
	border-radius: 50%;
}

.info-img>img{
	width: 100%;
	height: 100%;
	border-radius: 100%;
}


.info-doc{
	width: 9em;
	height: 2em;
	margin: 0 auto;

}
.docT{
	font-size: 0.9em;
}
.docMajor{
	font-size: 0.9em;
}

.info-doc>h3,p{
	margin-bottom: 0.05em;
	width: 100%;
}

.info-doc>h3{
	height: 2.5em;
}

.info-doc>p{
	height: 1.9em;
	line-height: 1.9em;
}


/* DOCTOR-INFO */

/* USER-COMMENT */

.user-comment{
	width: 62.5em;
	height: 24em;
	margin: 0.1em auto 2em auto;
	display: flex;
	flex-direction: column;
}

.service-comment{
	width: 100%;
	height: 87%;
	display: flex;
	flex-direction: row;
	margin-top: 0.05em;
}

.service-name{
	width: 54%;
	display: flex;
	flex-direction: column;
	border: 1px solid gray;
	text-align: center;
	margin: 0.05em auto;
}

.sv-left{
	border-top-left-radius: 1em;
	border-bottom-left-radius: 1em;
}

.sv-right{
	border-top-right-radius: 1em;
	border-bottom-right-radius: 1em;
}

.comment-line{
	width: 91%;
	height: 40%;
	display: flex;
	flex-direction: row;
	margin: 0.05em auto;
}

.circle-face{
	width: 4.6em;
	height: 3.3em;
	display: flex;
	flex-direction: row;
	margin-top: 0.5em;
	margin-left: 0.5em;
}

.circle-face>img{
	width: 3em;
	height: 3em;
	border-radius: 50%;
}

.circle-face>i{
	margin-left: 2em;
	border-radius: 50%;
	color: white;
	background-color: royalblue;
	position: absolute;
	padding: 0.05em;

}


.doc-comment{
	text-align:left ;
	margin-top: 0.6em;
	margin-left: 0.6em;
}

.doc-comment>p{
	font-size: 0.7em;
	margin-top: 0.06em;
	width: 28em;
	height: 6em;
}

/* USER-COMMENT */


/* INFO-NEWS */

.info-news{
	width: 62.5em;
	height: 33.em;
	margin: 0.1em auto 1em auto;
	display: flex;
	flex-direction: column;
}

.view-all{
	width: 100%;
	height: 2.4em;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-bottom: 0.1em;
}

.title-new{
	line-height: 2.4em;
}

.all-news{
	width: 9em;
	height: 1.5em;
	margin: auto 0;
}
.all-news>a{
	text-decoration: none;
}

.all-news>a>i{
	margin-left: 0.05em;
	border-radius: 2.8em;
	color: rgb(194, 179, 179);
	background: #DA2032;
}

.box-item-news{
	width: 100%;
	height: 23.6em;
	display: flex;
	flex-direction: row;
	margin: 0 auto;
}


.item-news{
	width: 100%;
	height: 11.4em;
	display: flex;
	flex-direction: row;
	margin-bottom: 0.5em;
}

.col-left{
	margin-right: 1.7em;
}

.item-news>img{
	width: 10em;
	height: 8em;
	margin-bottom: 0.6em;
	margin-right: 0.7em;
}

.description-news{
	margin-bottom: 0.5em;
	margin-right: 0.2em;
	margin: 0 auto;
}

.description-news>p{
	width: 19em;
	height: 5em;
	margin-top: 0.1em;
}


.btn-news{
	width: 4.54em;
	height: 1.6em;
	margin: 0 auto;
	margin-top: 1.1em;
	margin-bottom: 0.06em;

}


.btn-news>button{
	width: 1.3em;
	height: 1.3em;
	line-height: 0.72em;
	border-radius: 2.8em;
	margin: auto 0;
}

.btn-news>button:hover{
	border-color: #48a1d8;
}



.btn-news>button>i{
	color: white;
	font-size: 1em;
	line-height: 1em;
	font-weight:900;
}

.info-news>.btn-news>button>i:hover{
	background-color: #2563EB;
	border-radius: 2.7em;
	font-weight:100;
}

/* INFO-NEWS */

/* HOME */

/* APPOINTMENT */

.AppointmentForm{
	width: 62.5em;
	height: 66.9em;
	margin: 1.3em auto;
	display: flex;
	flex-direction: column;
}

/* FORM-APPOINTMENT */


.form-Appointment{
	width: 100%;
	height: 100%;
	margin: 0.1em auto;
	display: flex;
	flex-direction: row;
}

/* NOTE-INFO */

.Note-info{
	width: 30%;
	height: 100%;
	display: flex;
	flex-direction: column;
	border: 1px solid #6bc0e7;
	color: white;
	font-weight: lighter;
	padding: 0.7em 0 13em 0.7em;
	border-top-left-radius: 1.3em;
	border-bottom-left-radius: 1.3em;
	background-image: linear-gradient(to left, royalblue, rgb(72, 67, 146));
}

.Note-info>p{
	margin-bottom: 0.7em;
}

.Note-info>h4{
	margin-top: 0.7em;
	margin-bottom: 0.7em;
}

/* NOTE-INFO */

/* FORM-INFO */

.Form-info{
	width: 69.9%;
	height: 100%;
	padding: 0.2em 0 0 2em;
}


/* Style the tab-form content */

.register{
	width: 100%;
	height: 53em;
	display: flex;
	flex-direction: column;
	padding: 0.1em 0 0 2em;
}

.registered{
	width: 100%;
	padding: 0.1em 0 0 2em;
}

.form-registered>input{
	font-size: 4em;
	border-radius: 1em;
	margin: 0.7em 0 0.7em 0;
	padding: 0.06em 0 0.06em 0.4em;
}

.form-registered>label{
	font-size: 4em;
}

.namePatient{
	margin-left:0.1em;
}

.idPatient{
	margin-left:22px;
}

.birth-gen{
	width: 79.7%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-bottom: 0.1em;
}
.birthday>input{
	border-radius: 1em;
	padding-right: 0.06em;
}

.p-g>label{
	font-size: 1.3em;
}

.p-g>input, textarea{
	font-size: 1.2em;
	border-radius: 1em;
	margin: 0.06em 0 0.06em 0;
	padding: 0.06em 0px 0.06em 0.3em;
}

.Time>label{
	font-size: 1.2em;
}

.Time>input{
	font-size: 1.3em;
	border-radius: 1em;
	margin: 0.06em 0 0.06em 0;
	padding: 0.06em 0.06em 0.06em 0.3em;
}

.f-i>.p-g>textarea{
	width: 80%;
	resize: none;
}

.f-i>.p-g>input{
	width: 80%;
}

.f-i>.p-g{
	margin: 0 0 1em 0;
}

.f-i>.p-l{
	float: right;
}

.Form-info>.register>.service-exam>.exam{
	width: 80%;
	margin: 0.1em 0 0 0;
	display: flex;
	flex-direction: column;
	margin: 0 0 1em 0;
}

.time,.date{
	border-radius: 1em;
	padding-left: 0.06em;
}

.box-select{
	border: 1px solid black;
	border-radius: 1em;
	margin: 0.1em 0 0.1em 0;
	text-align: center;
	padding: 0.09em 16px;
}

.sv{
	display: inline-block;
	width: 30%;
	margin-bottom: 1rem;
}

.exam-selected{
	margin: 0.1em 0 0.1em 0;
	font-size: 17px;
}

.manifest-patient{
	width: 80%;
	margin: 0.1em 0 0 0;
	margin: 0 0 1em 0;
}

.manifest{
	width: 100%;
	margin: 0.1em 0 0 0;
	resize: none;
	border-radius: 0.6em;
}

.btn-sign-Appointment{
	width: 97%;
	height: 2.7em;
	margin: 3.2em 0 1em 0;
}

.btn-sign{
	width: 3.8em;
	height: 2.7em;
	border-radius: 1em;
	float: right;

	background-color: #ccc;
}

/* FORM-INFO */

/* FORM-APPOINTMENT */



/* APPOINTMENT */


/* CONTAINER */



/* FOOTER */


.footer{
	width: 72em;
	height: 41.2em;
	margin: 0.1em auto;
	display: flex;
	flex-direction: column;
	background-color: #EFF6FF;
}
/* FOOTER-TOP */

.footer-top{
	width: 62.5em;
	height: 35em;
	display: flex;
	flex-direction: row;
	margin: 0 auto 0.1em auto;
}

/* INTRO-HOSPITAL */


.intro-hospital{
	margin-right: 0.1em;
}

.intro-hospital>img{
	background-color: #EFF6FF;
}

.intro-hospital>p{
	width: 17.3em;
	height: 9.3em;
	margin-top: 0.1em;
	margin-bottom: 0.7em;
}

/* INTRO-HOSPITAL */



/* ROOM-SERVICE */

.intro-hospital{
	width: 17em;
	height: 100%;
}

.room-service{
	background-image: url('/public/img/logo/logo-da-thong-bao-bo-cong-thuong-mau-xanh.png');
	background-repeat: no-repeat;
	background-size: 9em 4em;
	background-position: 2em 29em;
}
.f-intro{
	width: 17em;
	height: 100%;
	margin-left: 1em;
}


.room{
	width: 100%;
	height: 7.5em;
	display: flex;
	flex-direction: row;
	margin: 0 0 1em 0;
}

.room>i{
	font-size: 1.4em;
	margin-right: 0.1em;
}

.img-rom-sv{
	width: 2em;
	height: 3em;
}

.info-room>h5{
	line-height: 1em;
}

.task{
	width: 100%;
	height: auto;
}

.contact{
	display: flex;
	flex-direction: row;
	margin-top: 1em;
}

.phone{
	font-weight: bold;
}


.social{
	display: flex;
	flex-direction: column;
	margin-top: 1em;
}

.icon-ft, .img-ft{
	margin-top: 0.1em;
}


.img-ft-social{
	width: 0.9em;
	margin-right: 0.1em;
}

.icon-ft-social{
	font-size: 1em;
	margin-right: 0.1em;
}


.policy{
	margin-top: 1em;
}

/* SOCIETY */

/* FOOTER-TOP */

/* FOOTER-BOTTOM */

.footer-bottom{
	width: 62.5em;
	height: 3.9em;
	text-align: center;
	margin: 2em auto 0 auto;
}

.footer-bottom>p{
	margin-top: 0.1em;
	margin-bottom: 0.1em;
}

.footer-bottom>.copyRight{
	color: white;
	background-color: #2563EB;
	height: 2em;
	line-height: 2em;
}

/* FOOTER-BOTTOM */

/* FOOTER */
